html {
    background-image: url("orca.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: #C0C0C0;
}

body {
    background-color: transparent;
}


div {
    background-color: transparent;
}